@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

.container{
	font-family: 'Pretendard';
}
#chatLogo{
    margin-left: 30px;
    font-size: 30px;
}
.chatContainer{
	width: 90%;
	height:730px;	
	margin: auto;
	border-radius: 20px;
	padding: 20px 20px 0 30px;
	overflow-x: hidden;
	border: 1px solid;
}

.cc{
	width: 90%;
	height:730px;	
	margin: auto;
	border-radius: 20px;
	padding: 20px 20px 0 30px;
	overflow-x: hidden;
	border: 1px solid;
	color: white;
	background-color: #394956;
}

#addGroupBtn{
	float:right;
	cursor:pointer;
	font-size: 15px;
    font-weight: bolder;
    margin: 10px 80px 10px 0;    
}
#addGroupBtn:hover{
	color: #424242;
	box-shadow: 1px 1px 3px #dadce0;	
}
#chatRoomOne{
	padding: 10px;
	border-radius: 15px;
	display: flex;
	border: 2px solid white; 
}

#entry{	
	display:inline;
	font-size: 17px;
    vertical-align: middle;
    cursor:pointer;
    margin: 10px 0 10px 20px;
    width: 100%;
}
#chatIcon{
	display:inline;
	width:50px;
	height: 50px;
	vertical-align: middle;
	margin: auto;
}
#chatIcon img{
	width:50px;
	height: 50px;
}

.entry_a{
	text-decoration:none;
	color:black;
    width: 60%;
    display: inline;
	font-weight: bolder;  
	position: relative;
}
.ct{
	text-decoration:none;
	color: white;
    width: 60%;
    display: inline;
	font-weight: bolder;  
	position: relative;
}

.entry_a:hover{
	text-decoration: underline;
	color:#6E6E6E;
}

.half{
	background: linear-gradient(to top, #D0A9F5 50%, transparent 50%);
}

#cntLimit{
	display:inline;
	width: 60px;
    height: 25px;
    text-align: center;
    color:#424242;
    font-size: 14px;
    float:right;
}

.chatCon{
	margin: 10px 0 0 15px;
	width: 380px;
	color:#424242;
    font-size: 14px;    
}

.cCon{
	margin: 10px 0 0 15px;
	width: 380px;
	color: #BDBDBD;
    font-size: 14px; 
}