@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
    /* Color */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #E2E2E2;
    --color-greyfont:#999999;

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-reqular:18px;
    --font-small:16px;
    --font-micro:14px;

    /* Font weight */
  	--weight-bold: 700;
  	--weight-semi-bold: 600;
  	--weight-regular: 400;
  	
  	/*font  */
  	--p-font :'Pretendard';
  	
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*{
font-family :'Pretendard'	
}

h3{
	margin-top:30px;
	margin-bottom: 40px;
	
}

input{
	
	width : 60%;
	height: 40px;
	margin-bottom: 20px;
	border: 0 soild var(--color-white);
	border-bottom: 1px solid var(--color-greyfont);
	font-size: var(--font-small);	

}
input:focus {outline:none;}

.find_box {
	border :1px solid var(--color-grey);
	border-radius:10px;
	background-color : var(--color-white);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nm_input_box{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	
}
.email_input_box{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	
}
.find_button{
	border-radius:40px;
	padding: 0px 20px 0px 20px;
	height: 42px;
	color: #252525;
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
}

.button_box{
	display:flex;
	justify-content: center;
	margin-bottom: 30px;
}

.findidResult{
	height:30px;
	margin-bottom: 20px;
}

.id_input_box{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.findpwResult{
	height:30px;
	margin-bottom: 40px;
	
}