<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">

	<!-- 댓글 리스트 -->
	<select id="list" resultMap="replyMap">
		
select  a.* from post_reply a
where post_sq = #{post_Sq}
start with reply_ref is null
connect by prior reply_sq = reply_ref
order SIBLINGS by  reply_ref
	</select>

	<!-- 댓글 작성 -->
	<insert id="create">
	INSERT INTO POST_REPLY VALUES(POST_REPLY_SEQ.NEXTVAL, 'user01', #{post_Sq}, #{reply_Content}, null, DEFAULT, DEFAULT, SYSDATE, DEFAULT, DEFAULT, null, SYSDATE)
	</insert>
	
	<!-- 댓댓글 추가 -->
	<insert id="rereplyInsert">
	INSERT INTO POST_REPLY VALUES(POST_REPLY_SEQ.NEXTVAL, 'user02', #{post_Sq}, #{reply_Content}, null, DEFAULT, DEFAULT, SYSDATE, DEFAULT, #{reply_Level}+1,
	#{reply_Ref},DEFAULT)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="update">
		UPDATE POST_REPLY SET reply_Content = #{reply_Content}, UPDATEDATE = SYSDATE
		WHERE REPLY_SQ = #{reply_Sq}
	</update>
	
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		DELETE FROM POST_REPLY WHERE REPLY_SQ = #{reply_Sq}
	</delete>

	<!-- 댓글 수 -->
	<select id="countReplies"  resultType="_int">
	SELECT COUNT(reply_Sq) FROM POST_REPLY WHERE POST_SQ = #{post_Sq}
	</select>
	
	
	
	
	<resultMap id="replyMap" type="reply">
		<id property="reply_Sq" column="reply_Sq"/>
		<result property="user_Id" column="user_Id"/>
		<result property="post_Sq" column="post_Sq"/>
		<result property="reply_Content" column="reply_Content"/>
		<result property="reply_image" column="reply_image"/>
		<result property="open_Yn" column="open_Yn"/>
		<result property="secret_Yn" column="secret_Yn"/>
		<result property="reply_Dt" column="reply_Dt"/>
		<result property="reply_Like_Cnt" column="reply_Like_Cnt"/>
		<result property="reply_Level" column="reply_Level"/>
		<result property="reply_Ref" column="reply_Ref"/>
		<result property="updateDate" column="updateDate"/>
	</resultMap>
	
	
	
	
	
</mapper>
