<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="center">

	<insert id="insertCenter">
		INSERT INTO COVID_CENTER VALUES(COVID_CENTER_SEQ.NEXTVAL, #{centerName}, #{sido}, #{sigungu}, #{address}, #{phone})
	</insert>

	<select id="selectCenterList" resultMap="centerMap">
		SELECT * FROM COVID_CENTER
	</select>
	
	<resultMap type="center" id="centerMap">
		<id column="center_no" property="centerNo" />
		<id column="center_name" property="centerName" />
	</resultMap>



</mapper>
