<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.twoweeks.spring.common.StringArrayTypeHandler" alias="strArr"/>
		<typeAlias type="com.twoweeks.spring.board.freeboard.model.vo.FreeBoard" alias="freeboard"/>
		<typeAlias type="com.twoweeks.spring.board.freeboard.model.vo.PostAttachment" alias="postAttach"/>
		<typeAlias type="com.twoweeks.spring.board.freeboard.reply.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.twoweeks.spring.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.twoweeks.spring.covid.report.model.vo.NewsReport" alias="newsReport"/>
		<typeAlias type="com.twoweeks.spring.covid.report.model.vo.Center" alias="center"/>
		<typeAlias type="com.twoweeks.spring.chat.model.vo.ChatGroup" alias="chatGroup"/>
		<typeAlias type="com.twoweeks.spring.chat.model.vo.ChatGroupMessage" alias="chatGroupMsg"/>
		<typeAlias type="com.twoweeks.spring.chat.model.vo.ChatLog" alias="chatLog"/>
		<typeAlias type="com.twoweeks.spring.covid.model.vo.CovidRegionalKorData" alias="CovidRegionalKorData"/>
	</typeAliases>
</configuration>
