<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="knowledgeIn">
	<select id="selectKinList" resultMap="KnowledgeInMap">
	SELECT * 
		FROM KIN K LEFT JOIN KIN_ATTACHMENT KA ON K.KIN_SQ=KA.KIN_SQ ORDER BY K.KIN_SQ ASC 
		
	
<!-- SELECT * FROM KIN --> 
	</select>
	
	
	
	
	<select id="selectKinCount" resultType="_int">
		SELECT COUNT(*) FROM KIN 
	</select> 
	
	<resultMap type="knowledgeIn" id="KnowledgeInMap">
		<id column="kin_Sq" property="kin_Sq"/>
		<result column="kin_Writer" property="kin_Writer"/>
		<result column="category" property="category"/>
		<result column="kin_Title" property="kin_Title"/>
		<result column="kin_Content" property="kin_Content"/>
		<result column="kin_Image" property="kin_Image"/>
		<result column="open_Yn" property="open_Yn"/>
		<result column="selected" property="selected"/>
		<result column="kin_Date" property="kin_Date"/>
		<result column="kin_Cnt" property="kin_Cnt"/>
		
		<collection property="attachments" ofType="attachment">
			<id column="atch_No" property="atch_No"/>
			<result column="kin_Sq" property="kin_Sq"/>
			<result column="atch_Ori" property="atch_Ori"/>
			<result column="atch_New" property="atch_New"/>

		</collection>
	</resultMap>
	<resultMap type="attachment" id="attachmentMap">
		<id column="atch_No" property="atch_No"/>
		<result column="kin_Sq" property="kin_Sq"/>
		<result column="atch_Ori" property="atch_Ori"/>
		<result column="atch_New" property="atch_New"/>

	</resultMap>
	
		<insert id="insertKin">
			INSERT INTO KIN VALUES(KIN_SQ.NEXTVAL,#{kin_Writer},#{category},#{kin_Title},
			#{kin_Content},#{kin_Image},#{open_Yn},#{selected,},#{kin_Date},#{kin_Cnt})
			<selectKey keyProperty="kin_Sq" resultType="_int" order="AFTER"> 
			SELECT KIN_SQ.CURRVAL FROM DUAL 
			</selectKey>
		</insert>
		<insert id="insertKinAttachment"> 
		INSERT INTO KINATTACHMENT VALUES(ATCH_NO.NEXTVAL,#{kin_Sq}, #{atch_Ori}, #{atch_New}) 
		</insert>
	
	
	
	<select id="selectKinOne" resultMap="KnowledgeInMap">  
	SELECT * FROM KIN K LEFT JOIN KIN_ATTACHMENT KA ON K.KIN_SQ=KA.KIN_SQ WHERE K.KIN_SQ=#{SQ} 

		</select>
		
		
		
		
		<delete id="deleteKin" parameterType="int">
		DELETE FROM KIN WHERE KIN_SQ = #{SQ}
		</delete>
		
		
		
</mapper> 
 