<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">


<insert id="insertNotice">
	INSERT INTO NOTICE VALUES(SEQ_NOTICENO.NEXTVAL,#{noticeTitle},#{noticeContent},default)
	<selectKey keyProperty="noticeNo" resultType="_int" order="AFTER">
		SELECT SEQ_NOTICENO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<insert id="insertAttachment">
	INSERT INTO NOTICE_ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXTVAL,#{noticeNo},#{originalFilename},#{renamedFilename}
	,default,default,default)
</insert>

	<select id="selectMemberList" resultType="com.twoweeks.spring.member.model.vo.Member">
		SELECT * FROM MEMBER2
	</select>
	
	<select id="selectMembercount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER2
	</select>
	
	<delete id="deleteMember">
		DELETE FROM MEMBER2 WHERE USER_ID=#{userId}
	</delete>
	
	<insert id="insertPointEnd">
		INSERT INTO POINT VALUES(POINT_SEQ.NEXTVAL,#{userId},#{pointAmt},#{pointGb},#{pointDiscription},SYSDATE)
	</insert>
	
	<select id="selectMemberPoint" parameterType="String" resultType="_int">
		 SELECT USERPOINT_CNT FROM MEMBER2 WHERE USER_ID=#{name}
	</select>
	
	<update id="updatePointEnd">
		UPDATE MEMBER2 SET USERPOINT_CNT=USERPOINT_CNT+#{pointAmt} WHERE USER_ID=#{userId}
	</update> 
	<select id="adminReporttable" resultType="com.twoweeks.spring.admin.model.vo.Report">
		SELECT * FROM REPORT ORDER BY REPORT_YN
	</select>
	<select id="selectReportCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_YN='N'
	</select>
	<update id="reportUpdateYn">
		UPDATE REPORT SET REPORT_YN='Y' WHERE REPORT_DETAIL_REASON=#{pk}
	</update>
	<select id="reportList" resultType="com.twoweeks.spring.admin.model.vo.Report">
		SELECT * FROM REPORT WHERE USER_ID=#{userId}
	</select>
	<!-- <select id="selectGrantTable" resultType="com.twoweeks.spring.admin.model.vo.Grant">
		SELECT * FROM GRANTTO WHERE GRANTTO_YN='N'
	</select> -->
</mapper>