<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">


<insert id="insertNotice">
	INSERT INTO NOTICE VALUES(SEQ_NOTICENO.NEXTVAL,#{noticeTitle},#{noticeContent},default)
	<selectKey keyProperty="noticeNo" resultType="_int" order="AFTER">
		SELECT SEQ_NOTICENO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<insert id="insertAttachment">
	INSERT INTO NOTICE_ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXTVAL,#{noticeNo},#{originalFilename},#{renamedFilename}
	,default,default,default)
</insert>

	<select id="selectMemberList" resultType="com.twoweeks.spring.member.model.vo.Member">
		SELECT * FROM MEMBER2
	</select>
	
	<select id="selectMembercount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER2
	</select>
	
	<delete id="deleteMember">
		DELETE FROM MEMBER2 WHERE USER_ID=#{userId}
	</delete>
</mapper>