@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

footer{	
	font-size: 12px;
	/* width:1440px; */
	width: 100%;
	/* background-color: #F2F2F2; */
	border-top: 2px solid #F2F2F2;
	margin: auto;
	text-align:center;
	align-items:center;
	justify-content: center;
	bottom: 0;
	font-family: 'Pretendard';
}
.footer-col{
	display:inline-block;
	margin-left:25px;
	margin-right:25px;
	font-family: 'Pretendard';
	font-size:13px;
	padding-top: 20px;
}
.footer-strong{
	font-size:20px;
	font-weight:bolder;
}
.footer-strong > div{
	font-size: 13px;
}

#icon{
	padding: 10px 0 20px 0;
	width:200px;
	height:50px;
	margin:auto;
}
#icon img{
	width: 35px;
	height: 35px;
	margin: 0 5px 0 5px;
}