@charset "UTF-8";
<style>	
	body{
		margin:0;
		padding:0;
		display: flex;
	}
	
	/* 기본 header, nav, main, aside 영역 나누기  */
	#header{
		align-items: center;
		background-color: #EEF0FE;
		display: flex;
		width: 100%;
		position:fixed;
		height:60px; /* header 높이 */
		top:0;
		left:0;
		right:0;
	}		
	#sidebar {
		left:0;
		align-items: flex-start;
        width:15%; /* 사이드바 너비 */
        overflow: hidden;
		left:0;
		top:60px; /* header 높이에 따라 변경해야 됨 */
		position:fixed;
	}
	main {
		display: flex;
		background-color: darkorange;
		top:60px; /* header 높이와 동일하게 맞춰줘야 됨 */
		left:15%; /* 사이드바 너비와 동일하게 맞춰줘야 됨 */
		position:fixed;
		min-height:400px;
		width:80%; /* 본문 너비 */
	}
	#aside {
		float:right;
		display: flex;
		background-color: blue;
		width: 5%; /* 페이지 스크롤 영역 너비 */
		top:60px; /* header 높이와 동일하게 맞춰줘야 됨 */
		vertical-align: middle;
		right:0;
		min-height:400px;
    }        
	
	
	/* header css 속성 */
	.header-logo-area {
		align-items: center;
		background-color: #E1E6FF;
        width:15%; /* 사이드바 너비와 동일하게 맞춰줘야 됨 */
        height:100%;
		text-align:center;
	}
	.header-logo{
		color: black;
		font-size: 20px;
		font-weight: bolder;
		text-align:center;
		align-items:center;
		opacity: 0.7;
	}
	.header-search-area{
		display: flex;
		width: 50%;
		height: 60px;
		align-items: center;
		padding:0 15px ;
	}
	.header-search{		
		display: flex;
		margin:0;
		padding:0;
		width:40%;
		height:30px;
		text-align: right;		
	}
	.header-icon-area{
		display: flex;
		height: 60px;
		align-items: center;
		padding:0 15px;
	}           
	.header-divider {
		height: 32px;
		width: 2px;
	}
	.header-icon {
		height: 24px;
		width: 24px;
		margin-left: 20px;
	}
	.header-profile-icon{
		height: 24px;
		width: 24px;
	}
	.header-profile-photo{
		/* profile 사진 받아올 경우 여기서 사이즈 변경 */
		height: 30px;
		width: 30px;
		display:none;
	}
	.header-profile-text{
		font-size: 20px;
		margin-left: 25px;
	}
</style>
    