@charset "UTF-8";
<style>
body{
	margin:0;
	padding:0;
}

/* 기본 header, nav, main(container), aside 영역 나누기  */
#header{
	align-items: center;
	background-color: #F7F8FC;
	display: flex;
	width: 100%;
	position:fixed;
	height:60px; /* header 높이 */
	top:0;
	left:0;
	right:0;
}		
#sidebar {
	left:0;
	align-items: flex-start;
	width:15% ; /* 사이드바 너비 */
	overflow: hidden;
	left:0;
	top:60px; /* header 높이에 따라 변경해야 됨 */
	position:fixed;
	margin:0;
	padding:0;
	height:100%;
}
.container {	 
	margin-left:15% !important; /* 사이드바 너비만큼 띄움 */
	margin-top:60px !important; /* 헤더 높이만큼 띄움 */
	background-color: #F7F8FC;
	min-height:800px;
	width:80% !important; /* 본문 너비 */
	padding:15px !important;
}  	
#aside {
	display: flex;
	background-color: #EEF0FE; 
	width: 5%; /* 페이지 스크롤 영역 너비 */
	top:60px; /*  header 높이와 동일하게 맞춰줘야 됨 */
	right:0;
	position:fixed;
	min-height:400px;
	height:100%;
}   

/* header css 속성 */
.header-logo-area {
	align-items: center;
	background-color: #E1E6FF;
	width:15%; /* 사이드바 너비와 동일하게 맞춰줘야 됨 */
	height:100%;
	text-align:center;
		display:flex;
		align-items: center;
		justify-content: center;
		left:0;
}
.header-logo{
		width: 60%;
		height: 60px;
		display:flex;
		align-items: center;
		justify-content: flex-end;
		padding:0;
}
.header-search-area{
	display: flex;
	width: 50%;
	height: 60px;
	align-items: center;
	padding:0 15px ;
}
#searchKeyword{	
		margin:0;
		padding:0;
		width:60%;
		height:26px;
		margin-right:-5px;
		text-align: right;
		border:0.5px solid gray;
		border-radius:4px;	
	}
	#searchKeyword:focus{
		outline:0.5px solid #E1E6FF;
	}
.header-icon-area{
	height: 60px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding:0 15px;
}           
.header-divider {
	height: 32px;
	width: 2px;
}
.header-icon {
	height: 24px;
	width: 24px;
	margin-left: 20px;
}
.header-profile-icon{
	height: 24px;
	width: 24px;
}
.header-profile-photo{
	/* profile 사진 받아올 경우 여기서 사이즈 변경 */
	height: 30px;
	width: 30px;
	display:none;
}
.header-profile-text{
	font-size: 20px;
	margin-left: 5px;
}

#nick {
	font-weight: bolder;
	font-size: 17px;
}	
.dropdown{
	/* border: solid 1px; */
	position: relative;
	display: flex;
	width: 165px;
	margin-left: 25px;
	cursor: pointer;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
    margin-top: 23px;	
}
.dropdown-content a{
	color: black;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	display: block;	
	font-size:15px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
<style>
