@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
.gridContainer{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: 150px 580px 500px;	
	gap: 15px;
	align-items: stretch;
	font-family: 'Pretendard';
}
.item{	
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 10px 0px;
}

.1st{
	height: 50px;
}

.item:nth-child(9) {
	grid-column: 1/4;
	grid-template-columns: 1fr, 1fr;
}
.item:nth-child(10){
	grid-column: 4/9;
	grid-template-columns: 1fr, 1fr;
}
.item:nth-child(11){
	grid-column: 1/9;
}
#home-map-area{
	text-align:center;
}
#mapMove{
	color: #6E6E6E;
	font-weight: bolder;
	font-size: 20px;
    text-align: center;
	font-weight: bolder;
	font-size: 20px;
    text-align: center;
    margin: 25px 15px 15px 15px;
}
.report{
	width: 375px;;
	height: 100%;
}
#reportTab{
	font-size: 13px;
	width: 320px;
    margin: auto;     
    table-layout:fixed;
}
#reportTab tr td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
#reportTab tr td:hover{
	color: #6E6E6E;
	font-weight: bolder;
}

.report>div{
	font-weight: bolder;
	font-size: 20px;
    text-align: center;
    margin: 25px 15px 15px 15px;
}
#reportMove:hover, #mapMove:hover{
	color: #6E6E6E;
	font-weight: bolder;
}


/***해외현황***/
.state, .flag, .flagLogo, .num{
	/* border: solid 1px; */
}

.state{
	width: 90px;
    height: 25px;
    display: flex;
    margin: 30px auto auto auto;
}
.flag{
	width: 40px;
    height: 25px;
    display: inline-block;
}
.flag img{
	height: 12px;
    display: block;
    text-align: center;
    float: right;
    margin: 7px auto auto auto;
}

.flagLogo{
	width: 50px;
    height: 25px;
    margin-left: 5px; 
	display: inline-block;
}
.flagLogo h4{
	margin-top: 3px;
    font-weight: bolder;	
}
.num{
	width: 130px;
    height: 80px;
    font-size: 17px;
    margin: auto;
    text-align: center;
    line-height: 90px;
    font-weight: bolder;
}

.today{
	padding-top : 25px;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	line-height: 40px;
}

.todayCnt{
	text-align: center;
	font-weight: bolder;
	font-size: 17px;
	padding-top : 15px;
}







