@charset "UTF-8";

/* #reportListCnt{
	font-size: 13px;
	margin-left: 10px;
}
#reportListCnt span{
	color: red;
}
#reportTab{
	font-size:13px;
}
#reportTab th{
	font-weight:bolder;
	text-align: center;
}
#reportTab td{
	text-align: center;
}
#reportTab td:nth-child(2){
	text-align: left;
}
#reportPageBar{
	text-align: center;
} */