@charset "UTF-8";

/* 버튼 */
.regionalKor-button{
	border:0.5px solid darkgray;
	width:30%;
	padding:2%;
	margin:3%;
	text-align:center;
}

#regionalKor-map {
	width: 100%;
	min-height: 500px;
}

#states path {
	/* fill: #EEF0FE;  */
	stroke: white;
	stroke-width: 1.px; 
}

/* 
#states .active {
	fill: #E1E6FF;
}

#states .activeDetail {
	fill: #E1E6FF;
}
 */

#states text {
	cursor: pointer;
	font-size: 12px;
	fill: yellow; //노랑
}