@charset "UTF-8";

/* 버튼 */
#regionalKor{
	width:80%;
	min-height:300px;
	margin:10%;
	border-radius:10px;
	border:0.5px solid #e8e8e8;
	background-color:white;
	padding:10px;
}
.regionalKor-button-area{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin:10px 25px;
	height:fit-content;
  	background: #e8e8e8;
  	border-radius:5px; 	
  	
}
.regionalKor-button{
	display:inline-block;
	padding:3%;
	text-align:center;
 	color: darkgray;
 	width:50%;
  	background: transparent;
  	border: none;
  	border-radius:5px;
  	outline: none;
  	overflow: hidden;
  	cursor: pointer;  	
}

.regionalKor-button-on{	 /* selected */
 	color: white;
	background: #7879F160;
	box-shadow: 0.5px 0.5px 3px #666;
}


.regionalKor-button-1 :hover, .regionalKor-button-2 :hover{
  background-color: #2ecc71;
}

#regionalKor-map {
	width: 100%;
	min-height: 500px;
}

.regionalKor-update{
	color: darkgray;
	font-size:13px;
}


#states path {
	stroke: white;
	stroke-width: 1.px; 
}

#states text {
	cursor: pointer;
	font-size: 12px;
	fill: black;
	font-weight: bold;
}

#states text tspan{
	fill: #ff8787;
	font-wieght: normal !important;
}