@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


*{
font-family :'Pretendard'	
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

section {
    padding: 65px 0;
}

.section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.container .card {
    border: none;
    background: #ffffff;
}

.form-group{
	margin-left: 650px;
}




.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}


.frontside .card{
    min-height: 312px;
}



.frontside .card .card-title{
    color: #007b5e!important;
}

.frontside .card .card-body img {
    width: 160px;
    height: 120px;
    border-radius: 50%;
    margin-left: 27px;
    margin-bottom: 30px;
}

.card-img .card-img-bottom .card-img-top{
    flex-shrink: 0;
    width: 50%;
	
}
#pagebar-container{
	padding-left:100px;
	padding-top:50px;
	
}
.card-img-top row{
	width: 80px;
	
}