<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">

	<select id="list" resultMap="ReplyMap">
		SELECT * FROM POST_REPLY WHERE POST_SQ = #{post_Sq}
		ORDER BY REPLY_SQ
	</select>

	<insert id="create">
	INSERT INTO POST_REPLY VALUES(POST_REPLY_SEQ.NEXTVAL, ${user_Id}, ${post_Sq}, ${reply_Content}, null, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, NULL, SYSDATE )
	</insert>
	
	<update id="update">
		UPDATE POST_REPLY SET reply_Content = #{reply_Content}, UPDATEDATE = SYSDATE
		WHERE REPLY_SQ = #{reply_Sq}
	</update>
	
	<delete id="delete">
		DELETE FROM POST_REPLY WHERE REPLY_SQ = #{reply_Sq}
	</delete>

	<resultMap id="ReplayResultMap" type="reply">
		<id property="reply_Sq" column="reply_Sq"/>
		<result property="user_Id" column="user_Id"/>
		<result property="post_Sq" column="post_Sq"/>
		<result property="reply_Content" column="reply_Content"/>
		<result property="reply_image" column="reply_image"/>
		<result property="open_Yn" column="open_Yn"/>
		<result property="secret_Yn" column="secret_Yn"/>
		<result property="reply_Dt" column="reply_Dt"/>
		<result property="reply_Like_Cnt" column="reply_Like_Cnt"/>
		<result property="reply_Level" column="reply_Level"/>
		<result property="reply_Ref" column="reply_Ref"/>
		<result property="updateDate" column="updateDate"/>
	
	</resultMap>
	
	<resultMap type="freeboard" id="boardMap">
		<id column="post_Sq" property="post_Sq"/>
		<result column="user_Id" property="user_Id"/>
		<result column="menu_Gb" property="menu_Gb"/>
		<result column="category" property="category"/>
		<result column="post_Title" property="post_Title"/>
		<result column="post_Content" property="post_Content"/>
		<result column="share_Yn" property="share_Yn"/>
		<result column="post_Like_Cnt" property="post_Like_Cnt"/>
		<result column="post_Dt" property="post_Dt"/>
		<result column="post_Cnt" property="post_Cnt"/>
		<result column="open_Yn" property="open_Yn"/>
		<result column="searchType" property="searchType"/>
		<result column="keyword" property="keyword"/>
	</resultMap>
</mapper>
