@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


*{
font-family :'Pretendard'	
}

	.st-mainbar{
		background-color: white;
		border: 1px solid rgb(207,207,207,0,25);
		box-shadow: rgba(0,0,0,0,024) -1px 1px 1px;
		z-index: -1;
		padding: 12px;
		border-radius: 16px;
		margin-bottom: 18px;
	}
	.st-bar1{
		margin: 0px 10px;
		padding: 6px 8px;
		border-radius: 12px;
		justify-content: space-around;
		display: flex;
		flex-direction: row;
	}
	.st-bar-decide{
		-webkit-box-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    align-items: center;
	}
	.st-bar-decide-title{
		text-align: center;
		font-size: 12px;
		opacity: 0.7;
		margin-bottom: 0px;
		display: flex;
		flex-direction: row;
	}
	.st-bar-decide-count{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		opacity: 1;
		margin-bottom: 4px;
		color: rgb(235,83,116);
		display: flex;
		flex-direction: row;
	}
	.st-bar-death{
		-webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
        display: flex;
    flex-direction: column;
}
	.st-bar-death-title{
		text-align: center;
		font-size: 12px;
		opacity: 0.7;
		margin-bottom: 0;
		    display: flex;
    flex-direction: row;
	}
	.st-bat-death-count{
		text-align: center;
		font-size: 18px;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
	}